/* Hero.css */

.hero-section {
    position: relative;
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
  }
  
  .hero-image-section {
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  
  .slider-img {
    width: 100%;
    height: auto;
    border: none;
  }
  
  /* Hide arrows and scrollbar if they were present */
  .arrows {
    display: none;
  }
  
  /* Hide radio inputs */
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  
  /* Responsive adjustments */
  @media screen and (max-width: 900px) {
    .slider {
      width: 800%; /* Adjusted width for smaller screens */
    }
  }
  
  @media screen and (max-width: 600px) {
    .slider {
      width: 1200%; /* Further adjustment for smaller screens */
    }
  }
  
  
 
  
  
  /* Scroll Btn */
  .scroll-up {
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #1a8efd;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
  }
  
  .show-scroll {
    display: flex;
  }
  
  /* Responsive */
  @media screen and (max-width: 900px) {
    .hero-section {
      flex-direction: column; /* Adjusted to column for mobile */
      align-items: flex-start; /* Adjusted alignment */
      padding: 24px;
    }
  
    .text-section {
      width: 100%;
      padding: 0;
    }
  
    .text-title,
    .text-description {
      width: 100%;
    }
  
    .text-stats {
      flex-direction: column; /* Adjusted to column for mobile */
      gap: 16px; /* Adjusted gap */
    }
  
    .text-stats-container > p {
      text-align: center; /* Adjusted alignment */
    }
  
    .scroll-up {
      bottom: 32px;
      right: 32px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .text-headline {
      font-size: 20px;
    }
  
    .text-title {
      font-size: 28px;
    }
  
    .text-description {
      font-size: 16px;
    }
  
    .text-appointment-btn {
      font-size: 16px;
      padding: 12px 20px; /* Adjusted padding */
    }
  
    .text-stats {
      gap: 12px; /* Adjusted gap */
    }
  
    .text-stats-container > p {
      font-size: 14px; /* Adjusted font size */
    }
  
    .text-stats-container p:first-child {
      font-size: 18px;
    }
  
    .scroll-up {
      bottom: 24px; /* Adjusted bottom */
      right: 24px; /* Adjusted right */
    }
  }
  